@import '../../../../variables.scss';

:host {
    background: $lightgray;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #777;
}

.activeLink {
    background-color: #d3d3d3;

    a {
        font-weight: bold;
    }
}

.arrowIcon {
    vertical-align: sub;
}

.mat-mdc-list-base {
    --mdc-list-list-item-focus-state-layer-color: none;
}