<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15">
        <mat-icon color="accent" class="logoIcon">store</mat-icon>
        <span class="logo">{{title}}</span>
    </div>
    <div fxLayoutGap="15" fxLayoutAlign="start center">
        <button mat-flat-button routerLink="">Strona główna</button>
        <button mat-flat-button routerLink="/products">Produkty</button>
        <button mat-flat-button routerLink="/contact">Kontakt</button>
        <span></span>
        <div *ngIf="!isLoggedIn">
            <button mat-flat-button routerLink="/login">Zaloguj się</button>
        </div>
        <div *ngIf="isLoggedIn">
            <button mat-flat-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
                <span>Mój profil</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/my-orders">
                    <mat-icon>shopping_cart</mat-icon>
                    <span>Zamówienia</span>
                </button>
                <button mat-menu-item routerLink="/account">
                    <mat-icon>account_circle</mat-icon>
                    <span>Konto</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Wyloguj się</span>
                </button>
            </mat-menu>
        </div>
        <a routerLink="/cart">
            <mat-icon color="accent" class="shoppingBasket" matBadge="{{cartProductCounter}}"
                matBadgeColor="warn">shopping_basket</mat-icon>
        </a>
    </div>
</header>