<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15">
        <mat-icon color="accent" class="logoIcon">store</mat-icon>
        <span class="logo">{{title}}</span>
    </div>
    <div fxLayoutGap="15" fxLayoutAlign="start center">
        <button mat-flat-button routerLink="">Strona główna</button>
        <button mat-flat-button routerLink="/products">Produkty</button>
        <span></span>
        <button mat-flat-button routerLink="/login">
            <span *ngIf="!isLoggedIn">Zaloguj się</span>
            <span *ngIf="isLoggedIn">Mój profil</span>
        </button>
        <a routerLink="/cart">
            <mat-icon color="accent" class="shoppingBasket" matBadge="{{cartProductCounter}}"
                matBadgeColor="warn">shopping_basket</mat-icon>
        </a>
    </div>
</header>