.mat-column-id {
    width: 60px;
}

.mat-column-actions {
    width: 120px;
}

.mat-column-totalValue,
.mat-column-actions {
    text-align: center;
}

.status-NEW {
    background-color: rgb(217, 252, 223);
    padding: 7px;
}

.status-PAID {
    background-color: rgb(250, 158, 158);
    padding: 7px;
}

.status-PROCESSING {
    background-color: rgb(250, 231, 170);
    padding: 7px;
}

.status-WAITING_FOR_DELIVERY {
    background-color: rgb(253, 217, 253);
    padding: 7px;
}

.status-COMPLETED {
    background-color: rgb(219, 218, 253);
    padding: 7px;
}

.status-CANCELED {
    background-color: rgb(236, 238, 237);
    padding: 7px;
}

.status-REFUND {
    background-color: rgb(177, 176, 176);
    padding: 7px;
}