.orderPaid {
    color: green;
    font-weight: 700;
    margin-left: 5px;
}

.spinner {
    margin-left: 5px;
}

.orderSummary {
    font-size: 18px;
}

.orderSummary div {
    margin-bottom: 12px;
}