<h1>Koszyk</h1>

<form *ngIf="cartSummary?.items?.length" [formGroup]="cartForm">
    <div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="card-hrow">
            <div class="cart-hcol-1">Obraz</div>
            <div class="cart-hcol-2">Nazwa</div>
            <div class="cart-hcol-3">Ilość</div>
            <div class="cart-hcol-4">Wartość</div>
            <div class="cart-hcol-5">Usuń</div>
        </div>
        <div formGroupName="items">
            <div *ngFor="let item of items; let i = index">
                <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between start" class="card-row">
                    <div class="cart-col-1">
                        <a routerLink="{{'/products/' + item.value?.product?.slug}}">
                            <img *ngIf="!item.value?.product?.image" src="/assets/image-placeholder.png" width="100">
                            <img *ngIf="item.value?.product?.image"
                                src="{{'/api/products/productImage/' + item.value?.product?.image}}" width="100">
                        </a>
                    </div>
                    <div class="cart-col-2">{{item.value?.product?.name}}</div>
                    <div class="cart-col-3"><input type="number" min="1" formControlName="quantity"
                            class="quantityInput"></div>
                    <div class="cart-col-4">{{item.value?.lineValue}}</div>
                    <div class="cart-col-5">
                        <button mat-icon-button (click)="deleteItem(item.value?.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-row" fxLayoutAlign="end start">
            <button mat-flat-button color="warn" (click)="submit()">Zaktualizuj koszyk</button>
        </div>
        <div fxLayoutAlign="end start">
            <div class="summary"> Wartość: </div>
            <div class="summary"> <b>{{cartSummary?.summary?.totalValue}} PLN</b></div>
        </div>
        <div>
            <button mat-flat-button color="warn" (click)="back()">Powrót do zakupów</button>
        </div>
        <div fxLayoutAlign="end start">
            <button type="button" mat-flat-button color="accent" class="orderButton" routerLink="/order">Zamawiam</button>
        </div>
    </div>
</form>
<div *ngIf="!cartSummary?.items?.length">
    Koszyk jest pusty
</div>