.cart-hcol-1,
.cart-hcol-2,
.cart-hcol-3,
.cart-hcol-4,
.cart-hcol-5 {
    padding: 7px;
    font-size: 18px;
    font-weight: 500;
    min-width: 110px;
    text-align: center;
}

.cart-col-1,
.cart-col-2,
.cart-col-3,
.cart-col-4,
.cart-col-5 {
    padding: 7px;
    font-size: 18px;
    width: 100px;
    text-align: center;
}

.cart-hcol-2,
.cart-col-2 {
    min-width: 250px;
}

.card-hrow,
.card-row {
    background: white;
    padding: 4px;
    border-bottom: 1px solid #eee;
}

.orderButton {
    font-size: 22px;
    width: 220px;
}

.quantityInput {
    width: 40px;
}

.summary {
    padding: 7px;
    font-size: 18px;
    width: 100px;
    text-align: center;
    background: white;
    padding: 11px;
    border-bottom: 1px solid #eee;
}