<h1>Promowane produkty</h1>

<mat-card *ngFor="let product of homepage?.saleProducts">
    <div flexLayout="row" class="product">
        <div flexLayout="column" fxFlex>
            <mat-card-title><a routerLink="{{'/products/' + product.slug}}">{{product.name}}</a></mat-card-title>
            <div flexLayout="row">
                <a routerLink="{{'/products/' + product.slug}}">
                    <img *ngIf="!product.image" src="/assets/image-placeholder.png" class="productImage">
                    <img *ngIf="product.image" src="{{'/api/products/productImage/' + product.image}}" class="productImage">
                </a>
                <mat-card-content fxFlex class="productContent" [innerHTML]="product.description | replace: '\n': '\<br />'"></mat-card-content>
            </div>
        </div>
        <div>
            <div class="productPrice" [ngClass]="{'productPriceDisable': product.salePrice}">{{product.price}} {{product.currency}}</div>
            <div class="productSalePrice" *ngIf="product.salePrice">{{product.salePrice}} {{product.currency}}</div>
        </div>
    </div>

    <mat-card-actions align="end" fxLayoutGap="10">
        <button mat-flat-button color="accent" routerLink="{{'/products/' + product.slug}}">Pokaż</button>
        <button mat-flat-button color="primary" routerLink="/cart" [queryParams]="{productId: product?.id}">Do koszyka</button>
    </mat-card-actions>
</mat-card>