.form {
    width: 350px;
    margin: 0 auto;
}

.formError {
    color: red;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.formPassword {
    text-align: center;
    margin-bottom: 5px;
}

.header {
    text-align: center;
    margin-bottom: 24px;
}