table {
    width: 100%;
}

.mat-column-id {
    width: 60px;
}

.mat-column-actions {
    width: 140px;
}

.mat-column-image {
    width: 155px;
}

.productImage {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
}