.mat-column-id {
    width: 60px;
}

.mat-column-image {
    width: 155px;
}

.mat-column-enabled {
    width: 220px;

    &.mat-mdc-cell {
        text-transform: uppercase;
    }
}

.mat-column-actions {
    width: 260px;
}

.mat-column-image,
.mat-column-price,
.mat-column-enabled,
.mat-column-actions {
    text-align: center;
}

.productImage {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.salePrice {
    color: green;
    font-weight: 700;
}