.mat-column-id {
    width: 60px;
}

.mat-column-actions {
    width: 140px;
    text-align: center;
}

.mat-column-image {
    width: 155px;
    text-align: center;
}

.mat-column-price {
    text-align: center;
}

.productImage {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.salePrice {
    color: green;
    font-weight: 700;
}