<h1>Opinie klientów</h1>
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="authorName">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let element"> {{element.authorName}} </td>
    </ng-container>

    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef> Treść </th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>

    <ng-container matColumnDef="moderated">
        <th mat-header-cell *matHeaderCellDef> Zatwierdzone </th>
        <td mat-cell *matCellDef="let element"  
            [class.moderated-false]="element.moderated == false"
            [class.moderated-true]="element.moderated == true"> 
            {{element.moderated}}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="confirmModerate(element)">
                <mat-icon color="primary">done</mat-icon>
            </button>
            <button mat-icon-button (click)="confirmDelete(element)">
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator 
  [pageSize]="25" 
  [pageSizeOptions]="[25, 50, 100]" 
  showFirstLastButtons
  [length]="totalElements">
</mat-paginator>