<div fxLayout="column">
    <div fxLayout="row" fxFlex fxLayoutGap="20">
        <div class="image">
            <img *ngIf="!product?.image" src="/assets/image-placeholder.png" width="350">
            <img *ngIf="product?.image" src="{{'/api/products/productImage/' + product.image}}" width="350">
        </div>
        <div fxLayout="column" fxFlex>
            <h1>{{product?.name}}</h1>
            <div *ngIf="product?.description">
                <span [innerHTML]="product.description | replace: '\n': '\<br />'"></span>
            </div>
            <div fxLayout="row" fxFlexAlign="end">
                <div class="price" [ngClass]="{'priceDisable': product?.salePrice}">{{product?.price}} {{product?.currency}}</div>
                <div class="salePrice" *ngIf="product?.salePrice">{{product.salePrice}} {{product?.currency}}</div>
            </div>
            <button *ngIf="product?.enabled" mat-flat-button color="warn" routerLink="/cart" [queryParams]="{productId: product?.id}">Do koszyka</button>
            <button *ngIf="!product?.enabled" mat-flat-button disabled>Do koszyka</button>
        </div>
    </div>
    <div *ngIf="product?.fullDescription" class="fullDescription">
        <span [innerHTML]="product.fullDescription | replace: '\n': '\<br />'"></span>
    </div>
    <div>
        <h2>Opinie o produkcie</h2>
        <div>
            <div *ngFor="let review of product?.reviews" class="review">
                <div>Autor: {{review.authorName}}</div>
                <div>{{review.content}}</div>
            </div>
        </div>
        <div *ngIf="!isLoggedIn" class="loginInfo">
            <a routerLink="/login">Zaloguj się</a>, aby dodać własną opinię o produkcie
        </div>
        <div *ngIf="isLoggedIn">
            <form [formGroup]="reviewForm" (submit)="submit()" fxLayout="column">
                <mat-form-field>
                    <mat-label>Autor</mat-label>
                    <input matInput placeholder="Podaj swoje imię" formControlName="authorName">
                    <div *ngIf="authorName?.invalid && (authorName?.dirty || authorName?.touched)"
                        class="errorMessages">
                        <div *ngIf="authorName?.errors?.['required']">
                            Imię jest wymagane
                        </div>
                        <div *ngIf="authorName?.errors?.['minlength']">
                            Imię musi mieć przynajmniej 2 znaki
                        </div>
                        <div *ngIf="authorName?.errors?.['maxlength']">
                            Imię może mieć maksymalnie 60 znaków
                        </div>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Twoja opinia o produkcie</mat-label>
                    <textarea matInput rows="10" placeholder="Twoja opinia" formControlName="content"></textarea>
                    <div *ngIf="content?.invalid && (content?.dirty || content?.touched)" class="errorMessages">
                        <div *ngIf="content?.errors?.['required']">
                            Opinia jest wymagana
                        </div>
                        <div *ngIf="content?.errors?.['minlength']">
                            Opinia musi mieć przynajmniej 4 znaki
                        </div>
                        <div *ngIf="content?.errors?.['maxlength']">
                            Opinia może mieć maksymalnie 600 znaków
                        </div>
                    </div>
                </mat-form-field>
                <div fxLayout="colum" fxFlexAlign="end" fxLayoutGap="10">
                    <button mat-flat-button color="primary" [disabled]="!reviewForm.valid">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>