@import "../../../variables.scss";

.description,
.fullDescription {
    margin-top: 20px;
    margin-bottom: 25px;
}

.errorMessages {
    color: red;
}

.loginInfo {
    font-size: 20px;
    text-align: center;
    margin: 25px 0;
}

.price {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $warn;
}

.priceDisable {
    color: lightgray;
    font-size: 22px;
    text-decoration: line-through;
}

.review {
    background-color: white;
    margin: 20px 0;
    padding: 7px;
}

.salePrice {
    color: green;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 5px;
}