:host {
    display: flex;
    flex-direction: column;
    height: 100%
}

header {
    background: #292b31;
    padding: 20px;
    color: #fff;
}

.content {
    background: #f9f9f9;
}

.orders {
    min-height: 100px;
}

.sidebar {
    background: #292b31;
    padding: 20px;

    a {
        color: #fff;
    }
}

.subMenuLink {
    color: gray;
}