<header flexLayout="column" fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="10">
        <mat-icon color="accent" class="logoIcon">store</mat-icon>
        <span class="logo">{{title}}</span>
    </div>
</header>
<div fxLayout="row" fxFlex>
    <div class="sidebar">
        <mat-selection-list [multiple]="false">
            <mat-list-option><a routerLink="/admin">Dashboard</a></mat-list-option>
            <mat-list-option><a routerLink="/admin/orders">Zamówienia</a></mat-list-option>
            <mat-list-option><a routerLink="/admin/payments">Płatności</a></mat-list-option>
            <mat-list-option><a routerLink="/admin/shipments">Dostawy</a></mat-list-option>
            <mat-list-option><a routerLink="/admin/products">Produkty</a></mat-list-option>
            <mat-list-option><a routerLink="/admin/categories">Kategorie</a></mat-list-option>
            <mat-list-option><a routerLink="/admin/reviews">Opinie</a></mat-list-option>
            <mat-list-option><a routerLink="/admin">Link</a></mat-list-option>
        </mat-selection-list>
    </div>
    <div fxFlex class="content">
        <app-admin-message></app-admin-message>
        <router-outlet></router-outlet>
    </div>
</div>