<h2 class="header">Resetowanie hasła</h2>

<form *ngIf="!hash" [formGroup]="lostPasswordForm" fxLayout="column" (submit)="sendRequest()" class="form">
    <div *ngIf="lostPasswordFormError" class="formError">
        {{lostPasswordFormError}}
    </div>
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="Podaj swój e-mail" formControlName="email">
    </mat-form-field>
    <button mat-flat-button color="primary">Prześlij</button>
</form>

<form *ngIf="hash" [formGroup]="resetPasswordForm" fxLayout="column" (submit)="sendResetPassword()" class="form">
    <div *ngIf="resetPasswordFormError" class="formError">
        {{resetPasswordFormError}}
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Nowe hasło</mat-label>
        <input type="password" matInput placeholder="Podaj nowe hasło" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Powtórz hasło</mat-label>
        <input type="password" matInput placeholder="Powtórz hasło" formControlName="repeatedPassword">
    </mat-form-field>
    <button mat-flat-button color="primary">Zmień hasło</button>
</form>