<h2 class="header">Resetowanie hasła</h2>

<form [formGroup]="lostPasswordForm" fxLayout="column" (submit)="submit()" class="form">
    <div *ngIf="isFormError" class="error">
        {{formError}}
    </div>
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="Podaj swój e-mail" formControlName="email">
    </mat-form-field>
    <button mat-flat-button color="primary">Prześlij</button>
</form>
<div class="login">
    <a routerLink="/login">Zaloguj się</a>
</div>