@import 'variables.scss';

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
}

.content {
    padding: 20px;
    background: $lightgray;
}

.mat-mdc-snack-bar-container {
    &.snack-bar-bg-color-ok {
        --mdc-snackbar-container-color: #055005;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}